@font-face {
    font-family: 'DOSSaemmul';
    src: url('./DOSSaemmul.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSGothic';
    src: url('./DOSGothic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* 폰트는 모두 상업적 이용이 가능한 폰트로, 모두 웹사이트 '눈누'에 등록된 폰트입니다. */