.leaf__falling {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  background-size: cover;
  opacity: 0.5;
  z-index: 9999;
  animation: leaf-fall 5s linear infinite;
}

@keyframes leaf-fall {
  0% {
    top: -10%;
    left: -5%;
    transform: rotate(0deg);
  }
  100% {
    top: 110%;
    left: 100%;
    transform: rotate(180deg);
  }
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: url('./assets/sky/sky5-3.png');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

body::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: url('./assets/background/background15.png');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}




#content {
  position: relative;
  height: 100%;
  overflow: auto;
  z-index: 1;
}

